<html>
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href="/css/resetPassword.css">
    <script>
        async function submit() {
            const password = document.getElementById("password");
            const confirm_password = document.getElementById("confirmPassword");
            const password_value = password.value;
            const confirm_password_value = confirm_password.value;
            const loader = document.getElementById("loader");
            const button = document.getElementById("submitButton");
            const form_div = document.getElementById("form");
            const success_div = document.getElementById("success");
            const fail_div = document.getElementById("fail");
            loader.hidden = true;
            if(password_value === ""){
                password.setCustomValidity("Password required");
                password.reportValidity();
            }else if(password_value !== confirm_password_value){
                confirm_password.setCustomValidity("Passwords don't Match");
                confirm_password.reportValidity();
            }else if(!password_value.match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/)){
                password.setCustomValidity("Password must contain at least 8 characters, including at least 1 uppercase letter, 1 lowercase letter, 1 number and 1 special character");
                password.reportValidity();
            }else{
                loader.hidden = false;   
                button.disabled = true;
                await fetch("<%= url %>", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({password: password_value, email: "<%= email %>"})
                    
                })
                .then(response => {
                    success_div.hidden = false;
                    form_div.hidden = true;
                })
                .catch(error => {
                    fail_div.hidden = false;
                    form_div.hidden = true;
                });         
            }
        }
    </script>
</head>
<body>
    <div class="mainDiv">
        <div id="form" class="cardStyle">
            <h2 class="formTitle">
                Reset your password
            </h2>


            <h4 class="formTitle">
                for <%= email %>
            </h4>

            <div class="inputDiv">
                <label class="inputLabel" for="password">New Password</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="inputDiv">
                <label class="inputLabel" for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword">
            </div>


            <div class="buttonWrapper">
                <button type="submit" id="submitButton" onclick="submit()" class="submitButton pure-button pure-button-primary">
                    <span>Continue</span>
                    <span hidden id="loader"></span>
                </button>
            </div>
        </div>

        <div hidden id="success" class="cardStyle">
            <h2 class="formTitle">
                Success!
            </h2>
            <p>
                Your password has been reset successfully
            </p>
        </div>

        <div hidden id="fail" class="cardStyle">
            <h2 class="formTitle">
                Try resetting your password again
            </h2>
            <p>
                Your request to reset your password failed
            </p>
        </div>

      </div>
    
</body>
</html>